<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加</title>
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        body {
            margin-top: 30px;
        }
    </style>
</head>
    <body>
        <form th:action="@{/house/add}"
              method="post" id="addForm"
              enctype="multipart/form-data"
              class="form-horizontal" role="form">

            <div class="form-group">
                <label for="province" class="col-sm-2 control-label">所在省</label>
                <div class="col-sm-3 input-group">
                    <select name="province" id="province" class="form-control">
                        <option value="">--请选择--</option>
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label for="city" class="col-sm-2 control-label">所在市</label>
                <div class="col-sm-3 input-group">
                    <select name="city" id="city" class="form-control">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="area" class="col-sm-2 control-label">所在区县</label>
                <div class="col-sm-3 input-group">
                    <select name="area" id="area" class="form-control">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>

            <!--租赁方式-->
            <div class="form-group">
                <label for="rent_mode" class="col-sm-2 control-label">租赁方式</label>
                <div class="col-sm-3 input-group">
                    <select name="rent_mode" id="rent_mode" class="form-control">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>

            <!--朝向-->
            <div class="form-group">
                <label for="orientation" class="col-sm-2 control-label">朝向</label>
                <div class="col-sm-3 input-group">
                    <select name="orientation" id="orientation" class="form-control">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>

            <!--户型-->
            <div class="form-group">
                <label for="house_type" class="col-sm-2 control-label">户型</label>
                <div class="col-sm-3 input-group">
                    <select name="house_type" id="house_type" class="form-control">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <!--租金-->
            <div class="form-group">
                <label for="rental" class="col-sm-2 control-label">租金</label>
                <div class="col-sm-3 input-group">
                    <input type="number" name="rental" id="rental" class="form-control">
                </div>
            </div>
            <!--地址-->
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">详细地址</label>
                <div class="col-sm-3 input-group">
                    <input type="text" name="address" id="address" class="form-control">
                </div>
            </div>
            <!--图片-->
            <div class="form-group">
                <label for="pic" class="col-sm-2 control-label">房屋照片</label>
                <div class="col-sm-3 input-group">
                    <input type="file" name="pic" id="pic" class="form-control">
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-3">
                    <button type="submit" class="btn btn-default">添加</button>
                </div>
            </div>
        </form>


        <script th:src="@{/lib/js/jquery/jquery.min.js}"></script>
        <!--jQuery检验插件-->
        <script th:src="@{/lib/js/jquery/validate/jquery.validate.min.js}"></script>
        <script th:src="@{/lib/js/jquery/validate/messages_zh.min.js}"></script>
        <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>

        <script th:inline="javascript">
            const path = [[${#request.getContextPath()}]]

            const emptyOption = "<option value = ''>--请选择--</option>"
            $(function () {
                House.queryArea('province')
               $('#province').change(function () {
                   $('#city').html(emptyOption)
                   $('#area').html(emptyOption)
                   if(this.value){//当不是null或者undefined时不调用
                       House.queryArea('city', this.value)
                   }

                })
                $('#city').change(function () {

                    $('#area').html(emptyOption)
                    if(this.value){
                        House.queryArea('area', this.value)
                    }

                })
                House.queryDict('rent_mode')
                House.queryDict('house_type')
                House.queryDict('orientation')
                House.validateForm()

            })


            let House = {
                //查询省市区级联管理
                //pid是父id    documentId为dom元素（select）挂载结果
                queryArea: function (documentId, pid) {
                    //如果不传pid则默认为0
                    pid = pid || 0;
                    $.ajax({
                        url: path + "/area/queryById",
                        type: "GET",
                        data: "pid=" + pid,
                        dataType: 'json',
                        success: function (res) {
                            let options = "<option value=''>--请选择--</option>"
                            for (let area of res) {
                                options += "<option value = '" + area.id + "'>"
                                    + area.name
                                    + "</option>"
                            }
                            $("#" + documentId).html(options)
                        }
                    })


                },
                queryDict: function (groupId) {
                    $.ajax({
                        url: path + "/dict/" + groupId,
                        type: 'GET',
                        data: '',
                        dataType: 'json',
                        success: function (res) {
                            let option = "<option value=''>--请选择--</option>"
                            $.each(res, function (index, dict) {
                                option += "<option value='"+dict.value+"'>"
                                        + dict.name
                                        +"</option>"
                            })
                            $("#"+ groupId).html(option);
                        }
                    })
                },
                //表单校验
                validateForm:function () {
                    $('#addForm').validate({
                        


                        //修改提示信息的元素类型，默认是<lable>,这里修改成div，，，使用layui是一定要修改成div
                        errorElement: 'div',
                        //校验成功后执行
                        success:function (msgElement) {
                          msgElement.addClass('input-group-addon').text('OK')
                        },
                        //校验规则
                        rules: {
                            province: 'required',//对name属性为province的表单项进行校验
                            address: {
                                required: true,//必填
                                maxlength: 10,//最大10个字符

                            }

                        },
                        //校验失败后的消息
                        messages: {
                            province: '省为必选项',
                            address: {
                                required: '必填项',
                                maxlength: '10个字符以内',
                            }

                        }
                    })
                }

            }


        </script>
    </body>
</html>